<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GUC Portfolio Department</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="jquery-1.8.3.js"></script> -->
    <!-- <script src="./myJQueryScripts.js"></script> -->
  </head>
  <body>
<div class="">
     <form class="" id="registrationForm" action="/registerUser" method="post">
       <div class="">
               <label for="usernameLabel">username</label>
               <input type="text" name="usernameTextfield" placeholder="username">
       </div>
       <div class="">
         <label for="password" id = "passwordLabel">password</label>
         <input type="password" id = "password" name="password" placeholder="password">
       </div>
       <div class="">
         <label for="passwordVerification" id = "passwordVerificationLabel">verify password</label>
         <input type="password" id = "passwordVerification" name="passwordVerification" placeholder="verify password">
       </div>
       <div class="">
         <input type="radio" name="typeOfUser" value="student"> Student<br>
         <input type="radio" name="typeOfUser" value="client"> Client<br>
         <!-- <label for="profilePicture">profile picture</label> -->
         <!-- <input type="file" name="image" placeholder="image"> -->
       </div>
       <div>
         <button type="button" name="button" onclick="registrationSubmission()">Register</button>

       </div>

     </form>
</div>

<script type="text/javascript">
      function registrationSubmission(){
        var passLabel = document.getElementById("passwordLabel");
        var passVLabel = document.getElementById("passwordVerificationLabel");

        var pass = document.getElementById("password");
        var passV = document.getElementById("passwordVerification");

          document.getElementById("registrationForm").submit();
          if (pass.value != passV.value){

              passLabel.style.color = "red";
              passVLabel.style.color = "red";

          }
      }
</script>

  </body>
</html>
